In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('basics').getOrCreate()

In [3]:
df_people = spark.read.json('../data/people.json')

In [4]:
df_people.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df_people.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df_people.columns

['age', 'name']

In [7]:
df_people.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [8]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [9]:
df_people_2_schema = StructType([
    StructField('age', IntegerType(), True),
    StructField('name', StringType(), True)
])

In [10]:
df_people_2 = spark.read.json(
    '../data/people.json',
    schema=df_people_2_schema
)

In [11]:
df_people_2.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df_people_2['age']

Column<'age'>

In [13]:
people_age = df_people_2.select('age')
people_age

DataFrame[age: int]

In [14]:
people_age.show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [15]:
df_people_2.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [16]:
df_people_2.withColumn('double_age', df_people_2['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [17]:
df_people_2.withColumnRenamed('age', 'new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [18]:
df_people_2.createOrReplaceTempView('people')

In [19]:
result = spark.sql('SELECT * FROM people WHERE age > 25')
result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+